html,body{
    margin: 0px;
    padding: 0px;
}
/* ?? */
*{
    box-sizing: border-box;
}
.menu{
    height: 22px;
    border: 1px solid rgb(7, 7, 7);
    background-color: rgba(116, 114, 114, 0.199);
}
.menu-options{
    height: 56px;
    border: 1px solid rgb(7, 7, 7);
    background-color: rgba(99, 96, 96, 0.267);

}
.formula-bar{
    height: 26px;
    border: 1px solid rgb(7, 7, 7);
    background-color: rgba(99, 96, 96, 0.247);
}
/* Cell Conatiner area */
.cell-container{
    height: calc(100vh - 124px);  
    overflow: auto;
    position: relative;
    background-color: lightgrey;
}
.top-left-cell{
    height: 25px;
    width:25px;
    background-color: rgba(94, 89, 89, 0.247);
    position: absolute;
}
.top-row{
    display: flex;
    position: absolute;
    left: 26px;
    height: 25px;
    top:0px;
    background-color: rgba(102, 99, 99, 0.137);
    text-align: center; 
}
.top-row>.cell{
    min-width: 87px;
    border:1px solid ;
}
.left-col{
    position: absolute;
    top: 25px;
}
.left-col>.cell{
    width:25px;
    height: 25px;
background-color: lightgrey ;
border: 1px solid;
}
.row{
    display: flex; 
 }
.grid{
    position: absolute;
    top: 25px;
    left: 26px;
}
.row>.cell{
    min-width: 87px;
    border: 1px solid teal;
    text-align: center;
min-height: 25px;
}
/* .col{
    height: 25px;
    border: 1px solid;
    min-width: 49px;
} */

/* *************sheets area********** */
.sheets{
    height: 20px;
    border: 1px solid darkslategrey;

}